<ol>
  <% count_configs.each do |count_config| %>
      <li class="<%= count_config[:size] || 'large' %>">
        <svg data-toggle="tooltip" data-placement="bottom" title="<%= count_config[:title] %>" class="icon" data-icon="<%= count_config[:icon] %>" viewBox="0 0 80 80">
          <path xmlns="http://www.w3.org/2000/svg"/>
        </svg>
        <span class="count"><%= count_config[:count] = 0 %></span>
      </li>
  <% end %>
</ol>
<script type="text/javascript">
    $(document).ready(function () {
        window.svg_icons.init();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>