<!DOCTYPE html>
<html>
<head>
  <title>Deckster</title>
  <%= stylesheet_link_tag    "deckster/application", media: "all" %>
  <%= javascript_include_tag "deckster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
