<div class="navbar">
  <div class="container">
    <div class="logo"><a href="<%= root_path %>">DECKSTER</a></div>
    <div class="menu">
      <%= link_to 'Dashboard', dashboard_path, class: 'page_link', 'data-no-turbolink' => true %>
      <%= link_to 'Table', nil, class: 'page_link', 'data-no-turbolink' => true %>
    </div>
    <div class="systemmenu">
      <div class="notifications dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="notification"><span class="count">4/6</span></span>
        </a>
        <ul class="dropdown-menu">
          <li class="processing">
            <a href="#"><span class="status"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
            <a href="#" class="close"></a></li>
          <li class="processing"><a href="#"><span class="status"></span> Aliquam suscipit vitae orci eu feugiat.</a>
            <a href="#" class="close"></a></li>
          <li class="completed">
            <a href="#"><span class="status"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
            <a href="#" class="close"></a></li>
          <li class="completed"><a href="#"><span class="status"></span> Aliquam suscipit vitae orci eu feugiat. </a>
            <a href="#" class="close"></a></li>
          <li class="completed">
            <a href="#"><span class="status"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            <a href="#" class="close"></a></li>
          <li class="completed"><a href="#"><span class="status"></span> Aliquam suscipit vitae orci eu feugiat. </a>
            <a href="#" class="close"></a></li>
        </ul>
      </div>
      <div class="userinfo dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="avatar"></span>
          <span class="name">User Name</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Saved Searches</a></li>
        </ul>
      </div>
      <div class="external">
        <a href="#" target="_blank">Feedback</a>
        <a href="#" target="_blank">Data Request</a>
      </div>
    </div>
  </div>
</div>